.X {}
/********************************************
CONTENTS:************************************
---------------------- **********************
~IMPORTS~ ************ **********************
~VARIABLES~ ********** **********************
~MIXINS~ ************* **********************
~NAV~ **************** **********************
~HOME~ *************** **********************
~BRANDING~ *********** **********************
~MEDIA QUERIES~ ****** **********************
---------------------- **********************
********************************************/

/********************************************
***************** ~IMPORTS~ *****************
********************************************/
@import '~normalize.css';
// @import '~loaders.css/src/animations/line-spin-fade-loader.scss';
// @import url(./_base/_animations.scss);
// @import url(./_base/_base.scss);
// @import url(./_base/_colors.scss);
// @import url(./_base/_easings.scss);
@import url(./fonts/_fonts.scss);

/********************************************
**************** ~VARIABLES~ ****************
********************************************/


/********************************************
****************** MIXINS *******************
********************************************/

/********************************************
***************** ~LOADERS~ *****************
********************************************/

.v-font {
  font-family: 'ConduitITCStd', Helvetica;
  .extra-bold {
    font-weight: 800;
  }
  .black {
    font-weight: 900;
  }
  .light {
    font-weight: 300;
  }
  .medium {
    font-weight: 500;
  }
  .base {
    font-weight: normal;
  }
}



/********************************************
************* ~MEDIA QUERIES~ ***************
********************************************/
@media screen and (min-width:981px) {}

@media screen and (min-width:671px) and (max-width:980px) {}

@media screen and (min-width:415px) and (max-width:670px) {}

@media screen and (max-width:414px) {}

// @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
//   html {
//     transform: rotate(-90deg);
//     transform-origin: left top;
//     width: 100vh;
//     height: 100vw;
//     overflow: hidden;
//     position: absolute;
//     top: 100%;
//     left: 0;
//   }
// }
